version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    env_file: .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    env_file: .env
    depends_on:
      - postgres
    restart: unless-stopped

  nginx:
    container_name: nginx
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres-data:
